{% extends 'base.html' %}

{% block title %}AboutUs | StudentPeeps is a platform where you get exclusive student discounts on your favourite brands  {% endblock %}

{% block nav_item_about %}active{% endblock nav_item_about %}

{% block body %}
<br><br>
<h1>AboutUsPage</h1>
<h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur ea consectetur nostrum error facilis eius necessitatibus quia nisi cum nesciunt accusantium ipsam, est ullam nemo quisquam commodi et? Vero mollitia similique odit provident at rem eius quia accusantium tempora! Numquam eveniet quos officiis expedita harum modi. Perspiciatis, magni cumque!</h2>

{% endblock %}